* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

:root {
    /* colors */
    --gray50: #FAFAFA;
    --gray200: #E4E4E7;
    --gray300: #D4D4D8;
    --gray700: #3F3F46;
    --gray800: #27272A;
    --gray900: #18181B;
    --gray950: #09090B;

    --red950: #450A0A;

    --border: 1px solid var(--gray800);
    --box-shadow: 0 0 18px 0 var(--gray700);
    --max-width: 1100px;
    --border-radius: 12px;
    --smooth-bezier: cubic-bezier(0.215, 0.61, 0.355, 1);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--gray50);
  background-color: var(--gray950);
}

a {
  color: inherit;
  text-decoration: none;
}

input, button {
    font-family: inherit;
    font-size: inherit;
    background: none;
}
