.main {
    display: flex;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
}

.formContainer {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    background-color: #101010;
    backdrop-filter: blur(12px);
    border: 1px solid #303030;
    border-radius: var(--border-radius);
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.googleSign {
    margin-top: 2rem;
    background-color: #202020;
    border: 1px solid #404040;
    padding: 1rem 2rem;
    color: #FFFFFF;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.2s var(--bezier1), border 0.2s var(--bezier1);
}
.googleSign:hover {
    background-color: #303030;
    border-color: #606060;
}
