.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modalContent {
    backdrop-filter: blur(10px);
    background-color: #20202060;
    border: var(--border);
    border-radius: var(--border-radius);
    margin: 10% auto;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
}

.close {
    color: var(--gray300);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: var(--gray50);
    text-decoration: none;
    cursor: pointer;
}

.modalTaskContent {
    display: flex;
    gap: 1rem;
}
.modalTaskContent div:last-child p {
    color: var(--gray300);
}

.fields {
    width: 100%;
}

.title {
    margin-bottom: 1.2rem;
}
.title:hover {
    background-color: var(--gray800);
    cursor: pointer;
}
