.cta {
    background-color: transparent;
    padding: 0.6vw 1.6vw;

    background: linear-gradient(#070707, #070707) padding-box,
    linear-gradient(to right, #303030, #808080) border-box;
    border: 1px solid transparent;

    border-radius: 100px;
    position: relative;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    overflow: hidden;
    transition: color 0.3s var(--bezier1), background-color 0.3s var(--bezier1);
}
.cta:hover {
    background: #FFFFFF;
    color: #000000;
}

.lowerCta {
    padding: 1.4vw 2.8vw;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    background: #202020;
    border: 1px solid #404040;
    color: #FFFFFF;
    transition: color 0.3s var(--bezier1), background-color 0.3s var(--bezier1), border 0.3s var(--bezier1);
}
.lowerCta:hover {
    background-color: #303030;
    border: 1px solid #606060;
    color: #FFFFFF;
}
